<div class="bh2e-prayer-entry">
    <h3>
        <div class="bh2e-float-right">
            <a class="bh2e-action-link bh2e-cast-magic-as-ritual-icon" data-id="{{_id}}" href="#" title="{{localize "bh2e.fields.titles.castPrayerAsRitual"}}">
                <i class="fas fa-book-reader"></i>
            </a>
            <a class="bh2e-action-link bh2e-delete-item-icon" data-id="{{_id}}" href="#" title="{{localize "bh2e.fields.titles.deletePrayer"}}">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>

        <span class="bh2e-magic-name" title="{{name}}">
            {{name}}
        </span>
    </h3>
    <div>
        {{{data.description}}}
    </div>
</div>
